body {
  margin: 0px;
  overflow: scroll;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none; /* Chrome */
}

p,
h1,
h2,
h3 {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

/* header section */

#header-section {
  min-height: 60vh;
  width: 100%;
  margin: 0px;
  background-image: url("images/Chattogram.jpg");
  background-size: cover;
  background-position: 70% center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#page-title {
  background: #457b9d;
  color: white;
  margin: 0;
  padding: 5px 12px;
  border-radius: 8px;
}

#page-intro {
  text-align: center;
  background: #1d3557;
  color: white;
  padding: 5px 12px;
  margin: 10px 0 0 0;
  border-radius: 8px;
}

/* activity section */

#activity-section {
  color: #1d3557;
  background: #f1faee;
  min-height: 430px;
  text-align: center;
  padding: 10px;
  width: 100%;
}

.activities-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

#activity-info {
  display: flex;
  flex: 1;
  justify-content: space-around;
  gap: 10px;
  /* flex-wrap: wrap; */
}

.activity-width {
  flex: 1;
  max-width: 250px;
}

/* guide section */

#guide-section {
  width: 100%;
}

#guide-card {
  margin: 50px auto;
  background: #a8dadc;
  color: #1d3557;
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: space-around;
  max-width: 450px;
  max-height: 200px;
  padding: 10px;
  border-bottom: #457b9d 6px solid;
  border-radius: 5px;
}

#guide-image {
  max-width: 150px;
  border: solid;
  border-radius: 5px;
}

#guide-info {
  text-align: center;
  max-width: 250px;
}

#guide-description {
  font-style: italic;
  font-weight: bold;
}

/* mobile view responsiveness */

@media (max-width: 600px) {
  #header-section {
    min-height: 50vh;
  }

  #activity-section {
    min-height: 300px;
  }

  #guide-info {
    font-size: 10px;
  }

  #guide-image {
    max-width: 100px;
  }

  #guide-card {
    max-width: 350px;
    max-height: 150px;
  }

  .activities-img {
    width: 70px;
    height: 70px;
  }

  #activity-info {
    font-size: 10px;
  }
}
